Repository google/wasefire, pull requests merged in 2024-05, with the labels that each got.

#449 Add std feature to error crate
  crates/error/CHANGELOG.md
  crates/error/Cargo.toml
  crates/error/src/lib.rs
Labels: for:usability, crate:error

#451 Use full hash commit for git dependencies
  crates/runner-nordic/Cargo.lock
  crates/runner-nordic/Cargo.toml
Labels: for:maintainability, runner:nordic

#453 Change gpio functions to never trap
  crates/prelude/CHANGELOG.md
  crates/prelude/src/gpio.rs
  crates/scheduler/CHANGELOG.md
  crates/scheduler/src/call/gpio.rs
  examples/rust/gpio_test/src/lib.rs
Labels: lang:rust, for:usability, crate:scheduler

#455 Simplify host CLI for protocol example
  examples/rust/protocol/host/src/main.rs
  examples/rust/protocol/host/src/tests.rs
Labels: for:usability

#456 Rename MaybeUnwrap to Termination like std
  crates/prelude/CHANGELOG.md
  crates/prelude/src/internal.rs
  crates/prelude/src/lib.rs
Labels: lang:rust, for:maintainability

#462 Add store::{keys,clear}() to the applet API
  crates/api-desc/CHANGELOG.md
  crates/api-desc/src/store.rs
  crates/prelude/CHANGELOG.md
  crates/prelude/src/store.rs
  crates/scheduler/CHANGELOG.md
  crates/scheduler/src/call/store.rs
  examples/assemblyscript/api.ts
  examples/rust/store_test/src/lib.rs
Labels: lang:rust, for:usability, crate:scheduler, crate:api

#467 Support running tests from wasm proposals
  crates/interpreter/tests/spec.rs
Labels: crate:interpreter, for:maintainability

#470 Add RPC trait for platform::protocol
  crates/prelude/CHANGELOG.md
  crates/prelude/Cargo.toml
  crates/prelude/src/lib.rs
  crates/prelude/src/platform/protocol.rs
  crates/prelude/src/rpc.rs
  crates/prelude/src/serial.rs
  examples/rust/protocol/src/lib.rs
Labels: lang:rust, for:usability

#471 Use void instead of u8 for opaque data
  crates/api-desc/CHANGELOG.md
  crates/api-desc/src/platform/protocol.rs
Labels: for:maintainability, crate:api

#472 Keep submodules sorted by path
  .gitmodules
  scripts/sync.sh
Labels: for:maintainability

#473 Add a --force flag to the sync script
  scripts/sync.sh
Labels: for:maintainability

#474 Update store errors mapping
  crates/scheduler/CHANGELOG.md
  crates/scheduler/src/call/store.rs
Labels: for:usability, crate:scheduler

#481 Do not rely on default features of dependencies
  crates/cli-tools/CHANGELOG.md
  crates/cli-tools/Cargo.lock
  crates/cli-tools/Cargo.toml
  crates/cli/CHANGELOG.md
  crates/cli/Cargo.lock
  crates/cli/Cargo.toml
  scripts/ci-changelog.sh
Labels: for:maintainability

#482 Do not run changelog check on dev/ branches
  .github/workflows/ci.yml
  scripts/ci.sh
Labels: for:maintainability

#486 Enable mutable globals in wasm-opt.
  crates/cli-tools/CHANGELOG.md
  crates/cli-tools/src/action.rs
Labels: crate:cli, for:usability

#489 Work around unused-crate-dependencies false positive
  crates/error/CHANGELOG.md
  crates/error/src/lib.rs
  crates/logger/CHANGELOG.md
  crates/logger/src/lib.rs
  crates/runner-nordic/Cargo.toml
  crates/runner-nordic/crates/header/Cargo.toml
  crates/runner-nordic/crates/header/src/lib.rs
  crates/store/test.sh
  crates/store/tests/store.rs
  crates/sync/CHANGELOG.md
  crates/sync/src/lib.rs
Labels: for:maintainability

#490 Invoke cargo with exactly one target during tests
  crates/api-desc/test.sh
  crates/api-macro/test.sh
  crates/api/test.sh
  crates/board/test.sh
  crates/cli-tools/test.sh
  crates/cli/test.sh
  crates/error/test.sh
  crates/interpreter/test.sh
  crates/logger/test.sh
  crates/prelude/test.sh
  crates/protocol-usb/test.sh
  crates/protocol/fuzz/test.sh
  crates/protocol/test.sh
  crates/runner-host/crates/web-common/test.sh
  crates/runner-host/crates/web-server/test.sh
  crates/runner-host/test.sh
  crates/runner-nordic/crates/bootloader/test.sh
  crates/runner-nordic/crates/header/test.sh
  crates/runner-nordic/test.sh
  crates/scheduler/test.sh
  crates/store/fuzz/test.sh
  crates/store/test.sh
  crates/stub/test.sh
  crates/sync/test.sh
  crates/xtask/test.sh
  examples/rust/exercises/client/test.sh
  examples/rust/exercises/interface/test.sh
  examples/rust/hsm/common/test.sh
  examples/rust/hsm/host/test.sh
  examples/rust/protocol/host/test.sh
  examples/rust/update/host/test.sh
  scripts/package.sh
  scripts/publish.sh
  scripts/test-helper.sh
Labels: for:maintainability

#492 Introduce a wasm feature in the prelude
  crates/cli-tools/CHANGELOG.md
  crates/cli-tools/src/action.rs
  crates/prelude/CHANGELOG.md
  crates/prelude/Cargo.toml
  crates/prelude/src/allocator.rs
  crates/prelude/test.sh
  examples/rust/blink/Cargo.lock
  examples/rust/blink_periodic/Cargo.lock
  examples/rust/button/Cargo.lock
  examples/rust/button_abort/Cargo.lock
  examples/rust/ccm/Cargo.lock
  examples/rust/ctap/Cargo.lock
  examples/rust/ec_test/Cargo.lock
  examples/rust/echo/Cargo.lock
  examples/rust/exercises/client/Cargo.lock
  examples/rust/exercises/interface/Cargo.lock
  examples/rust/exercises/part-1-sol/Cargo.lock
  examples/rust/exercises/part-1/Cargo.lock
  examples/rust/exercises/part-2-sol/Cargo.lock
  examples/rust/exercises/part-2/Cargo.lock
  examples/rust/exercises/part-3-sol/Cargo.lock
  examples/rust/exercises/part-3/Cargo.lock
  examples/rust/exercises/part-4-sol/Cargo.lock
  examples/rust/exercises/part-4/Cargo.lock
  examples/rust/exercises/part-5-sol/Cargo.lock
  examples/rust/exercises/part-5/Cargo.lock
  examples/rust/exercises/part-6-sol/Cargo.lock
  examples/rust/exercises/part-6/Cargo.lock
  examples/rust/exercises/part-7-sol/Cargo.lock
  examples/rust/exercises/part-7/Cargo.lock
  examples/rust/gcm_test/Cargo.lock
  examples/rust/gpio_test/Cargo.lock
  examples/rust/hash_test/Cargo.lock
  examples/rust/hello/Cargo.lock
  examples/rust/hsm/Cargo.lock
  examples/rust/hsm/common/Cargo.lock
  examples/rust/led/Cargo.lock
  examples/rust/link_test/Cargo.lock
  examples/rust/memory_game/Cargo.lock
  examples/rust/oom/Cargo.lock
  examples/rust/panic/Cargo.lock
  examples/rust/perf/Cargo.lock
  examples/rust/protocol/Cargo.lock
  examples/rust/rand/Cargo.lock
  examples/rust/reboot/Cargo.lock
  examples/rust/rng_test/Cargo.lock
  examples/rust/store/Cargo.lock
  examples/rust/store_test/Cargo.lock
  examples/rust/sync_test/Cargo.lock
  examples/rust/syscall_test/Cargo.lock
  examples/rust/timer/Cargo.lock
  examples/rust/timer_test/Cargo.lock
  examples/rust/uart-usb/Cargo.lock
  examples/rust/update/Cargo.lock
  examples/rust/version/Cargo.lock
Labels: lang:rust, crate:cli, for:usability

#493 Permit to create errors in const contexts
  crates/error/CHANGELOG.md
  crates/error/src/lib.rs
Labels: for:usability, crate:error

#494 Support --all-features for docs.rs
  scripts/package.sh
  scripts/test-helper.sh
Labels: for:maintainability

#497 Implement Wire for never type
  .github/actions/ci-checks/action.yml
  .github/workflows/pages.yml
  crates/protocol/CHANGELOG.md
  crates/protocol/crates/schema/src/main.rs
  crates/protocol/src/lib.rs
  crates/wire/CHANGELOG.md
  crates/wire/src/lib.rs
  scripts/sync.sh
Labels: for:usability, crate:protocol, crate:wire

#498 The probe-rs binary has moved to probe-rs-tools
  crates/xtask/src/main.rs
  scripts/wrapper.sh
Labels: for:usability

#499 Do not strip debuginfo in debug build
  crates/xtask/src/main.rs
  scripts/setup.sh
  scripts/system.sh
Labels: crate:xtask, for:usability

#500 Implement Error from core instead of std
  crates/error/CHANGELOG.md
  crates/error/Cargo.toml
  crates/error/src/lib.rs
  crates/protocol-usb/CHANGELOG.md
  crates/protocol-usb/Cargo.toml
  crates/protocol/CHANGELOG.md
  crates/protocol/Cargo.toml
  crates/wire/CHANGELOG.md
  crates/wire/Cargo.toml
  examples/rust/protocol/host/Cargo.lock
Labels: for:usability, crate:error

#502 Add TODO to remove println timestamp
  crates/board/CHANGELOG.md
  crates/board/src/debug.rs
Labels: for:maintainability

#503 Make sure that pattern matching is exhaustive in tests
  crates/protocol/CHANGELOG.md
  crates/protocol/Cargo.toml
  crates/protocol/src/lib.rs
  crates/scheduler/CHANGELOG.md
  crates/scheduler/Cargo.toml
  crates/scheduler/src/protocol.rs
  crates/scheduler/test.sh
Labels: for:maintainability, crate:scheduler, crate:protocol
