Repository google/wasefire, pull requests merged in 2024-08, with the labels that each got.

#558 Taplo now builds with --locked
  scripts/wrapper.sh
Labels: for:maintainability

#560 Bump toolchain to remove workaround
  crates/board/CHANGELOG.md
  crates/board/Cargo.lock
  crates/board/Cargo.toml
  crates/board/src/usb/serial.rs
  crates/cli-tools/CHANGELOG.md
  crates/cli-tools/Cargo.lock
  crates/cli-tools/Cargo.toml
  crates/cli/CHANGELOG.md
  crates/cli/Cargo.lock
  crates/cli/Cargo.toml
  crates/protocol-usb/CHANGELOG.md
  crates/protocol-usb/Cargo.lock
  crates/protocol-usb/Cargo.toml
  crates/protocol-usb/src/device.rs
  crates/protocol-usb/src/lib.rs
  crates/protocol/crates/schema/Cargo.lock
  crates/runner-host/Cargo.lock
  crates/runner-nordic/Cargo.lock
  crates/runner-nordic/crates/header/src/lib.rs
  crates/runner-nordic/src/allocator.rs
  crates/runner-nordic/src/storage.rs
  crates/scheduler/CHANGELOG.md
  crates/scheduler/Cargo.lock
  crates/scheduler/Cargo.toml
  crates/wasm-bench/src/allocator.rs
  crates/xtask/Cargo.lock
  examples/rust/protocol/host/Cargo.lock
  rust-toolchain.toml
Labels: crate:board, for:maintainability, crate:protocol

#564 Fix native build on Nordic
  crates/runner-nordic/Cargo.toml
  examples/rust/link_test/Cargo.lock
  examples/rust/link_test/Cargo.toml
Labels: for:usability, runner:nordic

#562 Make applet optional in scheduler
  crates/scheduler/CHANGELOG.md
  crates/scheduler/src/call/button.rs
  crates/scheduler/src/call/crypto/ccm.rs
  crates/scheduler/src/call/crypto/ec.rs
  crates/scheduler/src/call/crypto/gcm.rs
  crates/scheduler/src/call/crypto/hash.rs
  crates/scheduler/src/call/platform.rs
  crates/scheduler/src/call/platform/protocol.rs
  crates/scheduler/src/call/platform/update.rs
  crates/scheduler/src/call/radio/ble.rs
  crates/scheduler/src/call/rng.rs
  crates/scheduler/src/call/store.rs
  crates/scheduler/src/call/store/fragment.rs
  crates/scheduler/src/call/timer.rs
  crates/scheduler/src/call/uart.rs
  crates/scheduler/src/call/usb/serial.rs
  crates/scheduler/src/event.rs
  crates/scheduler/src/lib.rs
  crates/scheduler/src/native.rs
  crates/scheduler/src/protocol.rs
Labels: for:usability, crate:scheduler

#566 Implement defmt::Format for board::Event
  crates/board/CHANGELOG.md
  crates/board/src/button.rs
  crates/board/src/lib.rs
  crates/board/src/platform.rs
  crates/board/src/platform/protocol.rs
  crates/board/src/radio.rs
  crates/board/src/radio/ble.rs
  crates/board/src/timer.rs
  crates/board/src/uart.rs
  crates/board/src/usb.rs
  crates/board/src/usb/serial.rs
  crates/board/test.sh
  crates/scheduler/CHANGELOG.md
  crates/scheduler/Cargo.lock
  crates/scheduler/src/applet.rs
  crates/scheduler/src/lib.rs
  crates/scheduler/test.sh
Labels: crate:board, for:usability, for:maintainability, crate:scheduler

#568 Add contiguous access to Nordic flash
  crates/runner-nordic/src/main.rs
  crates/runner-nordic/src/storage.rs
Labels: for:usability, runner:nordic

#571 Add checks for unpublished crates
  crates/store/fuzz/Cargo.lock
  crates/store/fuzz/Cargo.toml
  crates/wire/fuzz/Cargo.lock
  crates/wire/fuzz/Cargo.toml
  scripts/ci-changelog.sh
Labels: for:maintainability

#572 Abstract writing to flash on Nordic
  crates/runner-nordic/src/board/platform/update.rs
  crates/runner-nordic/src/storage.rs
Labels: for:maintainability, runner:nordic

#575 Add documentation for pull requests
  CONTRIBUTING.md
  docs/contributing/pull-request.md
Labels: for:maintainability

#576 Share CLI connection logic to cli-tools
  crates/cli-tools/CHANGELOG.md
  crates/cli-tools/Cargo.lock
  crates/cli-tools/Cargo.toml
  crates/cli-tools/src/action.rs
  crates/cli-tools/src/lib.rs
  crates/cli/CHANGELOG.md
  crates/cli/Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/protocol/crates/schema/Cargo.lock
  crates/runner-host/Cargo.lock
  crates/xtask/Cargo.lock
Labels: crate:cli, for:maintainability

#578 Implement defmt::Format for scheduler::event::Key
  crates/scheduler/CHANGELOG.md
  crates/scheduler/src/event.rs
  crates/scheduler/src/event/button.rs
  crates/scheduler/src/event/platform.rs
  crates/scheduler/src/event/platform/protocol.rs
  crates/scheduler/src/event/radio.rs
  crates/scheduler/src/event/radio/ble.rs
  crates/scheduler/src/event/timer.rs
  crates/scheduler/src/event/uart.rs
  crates/scheduler/src/event/usb.rs
  crates/scheduler/src/event/usb/serial.rs
Labels: for:usability, for:maintainability, crate:scheduler

#579 Implement From<interpreter::Error> for wasefire_error::Error
  crates/interpreter/CHANGELOG.md
  crates/interpreter/Cargo.lock
  crates/interpreter/Cargo.toml
  crates/interpreter/src/error.rs
  crates/interpreter/src/lib.rs
  crates/runner-host/Cargo.lock
  crates/runner-nordic/Cargo.lock
  crates/runner-nordic/src/board/uart.rs
  crates/scheduler/CHANGELOG.md
  crates/scheduler/Cargo.lock
  crates/scheduler/Cargo.toml
  crates/wasm-bench/Cargo.lock
Labels: crate:interpreter, for:usability

#580 Use cargo alias for development CLI and API update
  .cargo/config.toml
  crates/api-desc/crates/update/Cargo.lock
  crates/api-desc/crates/update/Cargo.toml
  crates/api-desc/crates/update/src/main.rs
  crates/api-desc/crates/update/test.sh
  crates/xtask/src/main.rs
  scripts/sync.sh
Labels: crate:xtask, for:maintainability

#581 Check for bad command-line configuration
  crates/api-desc/crates/update/src/main.rs
  crates/api-desc/crates/update/test.sh
  crates/cli/CHANGELOG.md
  crates/cli/src/main.rs
  crates/runner-host/src/main.rs
  crates/xtask/src/main.rs
  scripts/sync.sh
Labels: crate:cli, for:maintainability

#582 Move platform-list action to cli-tools
  crates/cli-tools/CHANGELOG.md
  crates/cli-tools/Cargo.lock
  crates/cli-tools/Cargo.toml
  crates/cli-tools/src/action.rs
  crates/cli/CHANGELOG.md
  crates/cli/Cargo.lock
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/protocol-usb/CHANGELOG.md
  crates/protocol-usb/src/host.rs
  crates/protocol/crates/schema/Cargo.lock
  crates/runner-host/Cargo.lock
  crates/xtask/Cargo.lock
Labels: crate:cli, for:maintainability

#585 Use derive-where instead of derivative
  crates/board/CHANGELOG.md
  crates/board/Cargo.lock
  crates/board/Cargo.toml
  crates/board/src/button.rs
  crates/board/src/lib.rs
  crates/board/src/timer.rs
  crates/board/src/uart.rs
  crates/cli-tools/Cargo.lock
  crates/cli/Cargo.lock
  crates/protocol-usb/Cargo.lock
  crates/protocol/crates/schema/Cargo.lock
  crates/runner-host/Cargo.lock
  crates/runner-nordic/Cargo.lock
  crates/scheduler/CHANGELOG.md
  crates/scheduler/Cargo.lock
  crates/scheduler/Cargo.toml
  crates/scheduler/src/event.rs
  crates/scheduler/src/event/button.rs
  crates/scheduler/src/event/timer.rs
  crates/scheduler/src/event/uart.rs
  crates/scheduler/src/lib.rs
  crates/xtask/Cargo.lock
  examples/rust/protocol/host/Cargo.lock
Labels: crate:board, for:security, for:maintainability, crate:scheduler

#586 Add more documentation about contribution
  docs/contributing/changelog.md
  docs/contributing/documentation.md
  docs/contributing/pull-request.md
  docs/contributing/testing.md
Labels: for:maintainability

#587 Return an error instead of trapping for unimplemented API
  crates/scheduler/CHANGELOG.md
  crates/scheduler/src/call.rs
  crates/scheduler/src/call/button.rs
  crates/scheduler/src/call/crypto/ccm.rs
  crates/scheduler/src/call/crypto/ec.rs
  crates/scheduler/src/call/crypto/gcm.rs
  crates/scheduler/src/call/gpio.rs
  crates/scheduler/src/call/led.rs
  crates/scheduler/src/call/platform/update.rs
  crates/scheduler/src/call/timer.rs
  crates/scheduler/src/call/uart.rs
Labels: for:usability, crate:scheduler

#590 Test and bench interpreter cache
  crates/interpreter/CHANGELOG.md
  crates/interpreter/Cargo.lock
  crates/interpreter/Cargo.toml
  crates/interpreter/test.sh
  crates/wasm-bench/run.sh
Labels: crate:interpreter, for:usability

#592 Fix changelog
  crates/api-macro/CHANGELOG.md
Labels: for:maintainability

#593 Add reason for SAST score
  .github/scorecard.yml
Labels: for:security
